services:
  api-gateway:
    build:
      context: ./ApiGateway
    container_name: api_gateway
    ports:
      - "8081:8081"
    volumes:
      - ./ApiGateway/app:/app
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8081", "--reload"] #
    networks:
      - chat_network
    depends_on:
      - auth-service
      - customer-management-service
      - chat-command-service
      - chat-query-service

  websocket-service:
    build:
      context: ./websocket-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./websocket-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports:
      - "8082:8082" 
    networks:
      - chat_network
    depends_on:
      - chat-query-service
      - redis
      - kafka
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVER_PORT: 8082

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./auth-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports:
      - "8083:8083"
    networks:
      - chat_network
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chat_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SERVER_PORT: 8083

  customer-management-service:
    build:
      context: ./customer-management-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./customer-management-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports:
      - "8084:8084" 
    networks:
      - chat_network
    depends_on:
      - otp-service
      - mail-service
      - postgres
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chat_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SERVER_PORT: 8084

  chat-command-service:
    build:
      context: ./chat-command-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./chat-command-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports:
      - "8085:8085" 
    networks:
      - chat_network
    depends_on:
      - customer-management-service
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chat_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVER_PORT: 8085

  chat-query-service:
    build:
      context: ./chat-query-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./chat-query-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports:
      - "8086:8086"
    networks:
      - chat_network
    depends_on:
      - redis
      - mongodb
      - kafka
    environment:
      SPRING_DATA_MONGODB_HOST: mongodb
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_DATA_MONGODB_DATABASE: chat_read_db
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVER_PORT: 8086

  otp-service:
    build: 
      context: ./otp-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./otp-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8087:8087"
    depends_on:
      - redis
    environment:
      SPRING_DATA_REDIS_HOST: redis 
      SPRING_DATA_REDIS_PORT: 6379
      SERVER_PORT: 8087

  mail-service:
    build: 
      context: ./mail-service 
      dockerfile: Dockerfile.dev 
    volumes:
      - ./mail-service:/app
      - ./.m2cache:/root/.m2
    command: ["mvn", "spring-boot:run"]
    ports: 
      - "8088:8088"
    environment:
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}


networks:
  chat_network:
    driver: bridge